body{
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Rubik', sans-serif;
}


.sec-1{

	text-align:center;
}


.sec-2{
	border:2px solid black;
	height:280px;
	background-color:#EFF8FF;
	border-radius:10px;
	padding-top:20px;
}


.sec-3{
	border:2px solid black;
	height:60px;
	text-align: center;padding-top:16px;
}


.cha-1{
	padding:5px;
	margin-top:25px;
}


.fav{
	
	font-size:55px;
	padding-bottom:20px;
}


#cha-3:hover{
	
	color:#113CFC;
}


.sec-4{
	font-size:12px;
	padding:20px;
	text-align:center;
	word-spacing:6px;
}

.cha-2{
	color: black;


}